@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

section {
  height: 60vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

#header {
  padding: 20px 0;
}
#header .header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header_container .header_logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
#header .header_container .header_logo img {
  max-width: 100%;
}
@media (max-width: 768px) {
  #header .header_container .header_nav {
    transition: all 0.8s ease;
    transform: translateX(-200vw);
  }
}
#header .header_container .header_nav .header_list {
  display: flex;
  list-style: none;
  column-gap: 40px;
  position: relative;
  z-index: 20;
}
@media (max-width: 768px) {
  #header .header_container .header_nav .header_list {
    display: none;
  }
}
#header .header_container .header_nav .header_list .header_link {
  font-size: 20px;
  color: #00205B;
}
#header .header_container .header_nav .header_list .close {
  position: absolute;
  top: 0;
  right: -50px;
  display: none;
}
#header .header_container .header_nav.active {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.81);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition: all 0.8s ease;
}
#header .header_container .header_nav.active .header_list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  padding: 30px;
}
#header .header_container .header_nav.active .header_list .header_link {
  color: white;
}
#header .header_container .header_nav.active .header_list .close {
  position: absolute;
  display: block;
  font-size: 35px;
  color: white;
  cursor: pointer;
}
#header .header_container .header_btn {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
#header .header_container .header_btn .modal {
  width: 23px;
  height: 23px;
  position: relative;
  transition: all 0.4s ease;
  display: none;
}
#header .header_container .header_btn .modal span, #header .header_container .header_btn .modal:before, #header .header_container .header_btn .modal:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00205B;
  position: absolute;
  left: 0;
  transition: all 0.4s ease;
  scale: 1;
}
#header .header_container .header_btn .modal:before {
  top: 2px;
}
#header .header_container .header_btn .modal:after {
  bottom: 2px;
}
#header .header_container .header_btn .modal span {
  top: 50%;
  transform: translateY(-50%);
}
#header .header_container .header_btn .modal:hover {
  transition: all 0.4s ease;
}
#header .header_container .header_btn .modal:hover:before {
  top: 3px;
}
#header .header_container .header_btn .modal:hover:after {
  bottom: 3px;
}
#header .header_container .header_btn .modal:active {
  scale: 0.94;
}
@media (max-width: 768px) {
  #header .header_container .header_btn .modal {
    display: block;
  }
}
#header .header_container .header_btn button {
  display: inline-block;
  padding: 8px 18px;
  border: 2px solid grey;
  background: white;
  color: black;
  font-family: inherit;
  border-radius: 14px;
}

#home {
  background-image: url("https://www.residentialsystems.com/wp-content/uploads/2020/09/Sony-VPL-VW915ES-4K-HDR-Laser-Home-Theater-Projector-Setup-Image.jpg");
}

#about {
  background-image: url("https://play-lh.googleusercontent.com/I2DJmw4FctHQvY-itGpaQ-xDTq12fIjyiUXRt5_-qs0IgpeXc7CYNp2YhCMx9dUWxw=h500");
}

#work {
  background-image: url("https://lp-cms-production.imgix.net/2021-09/shutterstockRF_1220778577.jpg?auto=format&q=40&ar=16%3A9&fit=crop");
}

#drive {
  background-image: url("https://s1.cdn.autoevolution.com/images/news/gallery/top-15-electric-cars-coming-to-the-us-in-2022-make-for-an-exciting-year_11.jpg");
}

#category {
  background-image: url("https://nuvomagazine.scdn2.secure.raxcdn.com/wp-content/uploads/2020/11/DSCF3485-6-scaled.jpg");
}

/*# sourceMappingURL=style.css.map */
